.destination {
    background-size: cover;
    background-position: center;

    min-height: 705px;
    max-height: 705px;
    padding-top: 63px;


}

.destination--hawaii {
    background-image: url("../assets/images/hawaii.jpg");
}

.destination--iceland {
    background-image: url("../assets/images/iceland.jpg");
}

.destination--greece {
    background-image: url("../assets/images/greece.jpg");
}

.destination__name {
    text-align: left;
    color: #FFFFFF;
    font-size: 80px;
    position: relative;
    left: 5%;

    margin-top: 20px;

    width: 60%;
}

.destination__cards {
    display: flex;
    justify-content: space-evenly;
    margin: auto;

    max-width: 900px;

}

.destination__card {
    width: 250px;
    height: 350px;

    text-align: center;
    
    margin-top: 50px;

    background-color: #FFFFFF;

    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;   
}

.destination__day {
    font-size: 20px;
    font-weight: 700;
    border-bottom: 4px solid black;
    
    margin: 10px;

}

.destination__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.destination__activity {
    background-color: #FEFAF5;

    left: 25px;

    width: 93%;

    margin-top: 20px;
    padding: 12px;

}
