/* body */
body {
    font-family: 'Verdana';
    font-weight: 400;
}
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
a:link {
    text-decoration: none;
}

/* header */
.navigation {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 10px 50px 10px 80px;


    align-items: center;
    flex-wrap: unset;
    position: fixed;
    z-index: 1;
    width: 100%;

    height: 63px;

}

.navigation-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.navigation-list__item {
    padding: 10px 2px;
    margin-right: 15px;


}
.navigation-list__item--current {
    border-bottom: 4px solid #DB7A4E;
}
.navigation-list__link {
    color: #393939;
}

/* footer */
.page-footer {
    background-color: #FEFAF5;
    display: flex;
    justify-content: space-around;
    flex-wrap: unset;
}
.page-footer__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 40px 0px;

}
.page-footer__title {
    color: #335576;
    font-size: 20px;
    
    margin-bottom: 15px;

}
.page-footer__subtitle {
    color: #DB7A4E;
    text-transform: uppercase;

    margin-bottom: 5px;

}

.page-footer__collection {
    display: flex;
    flex-wrap: wrap;
}
.page-footer__timings {
    display: flex;
    flex-direction: column;

    margin-right: 20px;

}
.page-footer__logos {
    display: flex;
    flex-wrap: wrap;
}
.page-footer__logos-image {
    min-width: 10px;
    max-width: 20px;
    min-height: 10px;
    max-height: 20px;
    margin-right: 20px;


}

/* shared between header and footer */
.navigation-logo, .page-footer__text  {
    color: #335576;
}